.card {
  display: inline-block;
  height: 300px;
  width: 200px;
  margin: 0.5rem;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

img {
  height: 200px;
  background-color: aliceblue;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
}

.like {
  padding: 0.5rem;
}
